Repository daniilpyatko/hse-golang-2020-1: changes, and which GitLab CI jobs are due for each by the changed paths.
All: hw1, hw2

hw1:
  stage: homework
  script:
  - if [[ -n $(gofmt -l 1/99_hw/game/) ]]; then echo "Необходимо отформтаировать код при помощи gofmt" && exit 1; fi
  - go test -v ./1/99_hw/...
  - echo "Домашка 1 пройдена! Пишите преподавателю"

hw2:
  stage: homework
  script:
  - if [[ -n $(gofmt -l ./2/99_hw/signer/) ]]; then echo "Необходимо отформтаировать код при помощи gofmt" && exit 1; fi
  - go test -v -race ./2/99_hw/...
  - echo "Домашка 2 пройдена! Пишите преподавателю"

1 slides
  1/golang-hse-2020-1.pdf
Due: none

fix remo name
  README.md
Due: none

first change
  1/99_hw/game/main.go
Due: hw1

First hw
  1/99_hw/game/main.go
Due: hw1

3rd lecture
  3/1_net/net_listen.go
  3/2_http/10_http.go
  3/2_http/11_pages.go
  3/2_http/12_servehttp.go
  3/2_http/13_mux.go
  3/2_http/14_servers.go
  3/2_http/20_get.go
  3/2_http/21_post.go
  3/2_http/22_cookies.go
  3/2_http/23_headers.go
  3/2_http/40_requests.go
  3/2_http/50_file_upload.go
  3/2_http/60_static.go
  3/2_http/static/img/gopher.png
  3/3_testing/cover.html
  3/3_testing/cover.out
  3/3_testing/coverage_test.go
  3/3_testing/main.go
  3/4_http_testing/1_request_test.go
  3/4_http_testing/2_server_test.go
  3/5_json/dynamic.go
  3/5_json/json.go
  3/5_json/struct_tags.go
  3/6_xml/xml.go
  3/99_hw/coverage/client.go
  3/99_hw/coverage/client_test.go
  3/99_hw/coverage/dataset.xml
  3/99_hw/coverage/server.go
  3/99_hw/hw3.md
  3/readings_3.md
Due: none

Added hw2
  2/99_hw/signer/signer.go
Due: hw2

gofmt'ed
  2/99_hw/signer/signer.go
Due: hw2

Fixed constant. Changed pointers to channels. Added strings.Join()
  2/99_hw/signer/signer.go
Due: hw2

Got rid of slice channels
  2/99_hw/signer/signer.go
Due: hw2

changed loop
  2/99_hw/signer/signer.go
Due: hw2

bot
  4/5_bot/bot.go
Due: none

4
  4/5_bot/bot.go
Due: none

4 hw
  4/99_hw/readme.md
  4/99_hw/taskbot/Gopkg.lock
  4/99_hw/taskbot/Gopkg.toml
  4/99_hw/taskbot/go.mod
  4/99_hw/taskbot/go.sum
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/.gitignore
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/.travis.yml
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/LICENSE.txt
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/README.md
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/bot.go
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/configs.go
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/helpers.go
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/log.go
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/passport.go
  4/99_hw/taskbot/vendor/github.com/go-telegram-bot-api/telegram-bot-api/types.go
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/LICENSE
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/README.md
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/examples/multipart.go
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/examples/streamer.go
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/multipartstreamer.go
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/multipartstreamer_test.go
  4/99_hw/taskbot/vendor/github.com/technoweenie/multipartstreamer/script/test
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/.travis.yml
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/bot_test.go
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/helpers_test.go
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/audio.mp3
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/cert.pem
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/image.jpg
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/key.pem
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/video.mp4
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/videonote.mp4
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/tests/voice.ogg
  4/99_hw/taskbot/vendor/gopkg.in/telegram-bot-api.v4/types_test.go
  4/99_hw/taskbot/vendor/modules.txt
Due: none

C
  3/3_testing/cover.out
  3/4_http_testing/2_server_test.go
  3/6_xml/xml.go
  3/99_hw/coverage/client.go
  3/99_hw/coverage/client_test.go
  3/99_hw/coverage/cover.html
  3/99_hw/coverage/cover.out
  3/99_hw/coverage/server.go
Due: none

hw 3
  3/99_hw/coverage/client.go
  3/99_hw/coverage/client_test.go
  3/99_hw/coverage/cover.html
  3/99_hw/coverage/cover.out
  3/99_hw/coverage/server.go
Due: none

reverted changes
  3/3_testing/cover.out
  3/4_http_testing/2_server_test.go
  3/6_xml/xml.go
  3/99_hw/coverage/client.go
Due: none

minor changes
  3/99_hw/coverage/cover.html
  3/99_hw/coverage/cover.out
  3/99_hw/coverage/server.go
Due: none

Moved XML logic to handler function
  3/99_hw/coverage/cover.html
  3/99_hw/coverage/cover.out
  3/99_hw/coverage/server.go
Due: none

Added XML unmarshal error handling and test for it
  3/99_hw/coverage/NotValidDataset.xml
  3/99_hw/coverage/client_test.go
  3/99_hw/coverage/cover.html
  3/99_hw/coverage/cover.out
  3/99_hw/coverage/server.go
Due: none

8th lecture
  8/config/consul/consul_config.go
  8/config/consul/go.mod
  8/config/consul/go.sum
  8/config/viper/config.yaml
  8/config/viper/go.mod
  8/config/viper/go.sum
  8/config/viper/main.go
  8/docker/nginx/nginx.conf
  8/monitoring/prometheus/go.mod
  8/monitoring/prometheus/go.sum
  8/monitoring/prometheus/prom.yaml
Due: none

6 hw comment
  6/99_hw/redditclone.md
Due: none

hw 5
  5/7_crudapp/pkg/middleware/accesslog.go
  5/99_hw/redditclone.md
  5/99_hw/redditclone/cmd/redditclone/main.go
  5/99_hw/redditclone/go.mod
  5/99_hw/redditclone/go.sum
  5/99_hw/redditclone/pkg/comment/comment.go
  5/99_hw/redditclone/pkg/handlers/post.go
  5/99_hw/redditclone/pkg/handlers/user.go
  5/99_hw/redditclone/pkg/middleware/access.go
  5/99_hw/redditclone/pkg/middleware/auth.go
  5/99_hw/redditclone/pkg/middleware/panic.go
  5/99_hw/redditclone/pkg/post/post.go
  5/99_hw/redditclone/pkg/post/repo.go
  5/99_hw/redditclone/pkg/user/repo.go
  5/99_hw/redditclone/pkg/user/user.go
Due: none

fixed bugs
  6/99_hw/redditclone/cmd/redditclone/main.go
  6/99_hw/redditclone/go.mod
  6/99_hw/redditclone/go.sum
  6/99_hw/redditclone/pkg/comment/comment.go
  6/99_hw/redditclone/pkg/handlers/post.go
  6/99_hw/redditclone/pkg/handlers/user.go
  6/99_hw/redditclone/pkg/middleware/access.go
  6/99_hw/redditclone/pkg/middleware/auth.go
  6/99_hw/redditclone/pkg/middleware/panic.go
  6/99_hw/redditclone/pkg/post/post.go
  6/99_hw/redditclone/pkg/post/repo.go
  6/99_hw/redditclone/pkg/user/repo.go
  6/99_hw/redditclone/pkg/user/user.go
  6/99_hw/redditclone/template/index.html
  6/99_hw/redditclone/template/static/css/main.74225161.chunk.css
  6/99_hw/redditclone/template/static/js/2.d59deea0.chunk.js
  6/99_hw/redditclone/template/static/js/main.32ebaf54.chunk.js
Due: none

hw 6
  6/99_hw/redditclone/cmd/redditclone/main.go
  6/99_hw/redditclone/go.mod
  6/99_hw/redditclone/go.sum
  6/99_hw/redditclone/pkg/comment/comment.go
  6/99_hw/redditclone/pkg/handlers/handler.html
  6/99_hw/redditclone/pkg/handlers/post.go
  6/99_hw/redditclone/pkg/handlers/post_mock.go
  6/99_hw/redditclone/pkg/handlers/post_test.go
  6/99_hw/redditclone/pkg/handlers/session_mock.go
  6/99_hw/redditclone/pkg/handlers/user.go
  6/99_hw/redditclone/pkg/handlers/user_mock.go
  6/99_hw/redditclone/pkg/handlers/user_test.go
  6/99_hw/redditclone/pkg/middleware/auth.go
  6/99_hw/redditclone/pkg/post/collection_mock.go
  6/99_hw/redditclone/pkg/post/cursor_mock.go
  6/99_hw/redditclone/pkg/post/mongo.go
  6/99_hw/redditclone/pkg/post/post.go
  6/99_hw/redditclone/pkg/post/repo.go
  6/99_hw/redditclone/pkg/post/repo.html
  6/99_hw/redditclone/pkg/post/repo_test.go
  6/99_hw/redditclone/pkg/post/single_result_mock.go
  6/99_hw/redditclone/pkg/random/generator.go
  6/99_hw/redditclone/pkg/session/manager.go
  6/99_hw/redditclone/pkg/session/session.go
  6/99_hw/redditclone/pkg/user/repo.go
  6/99_hw/redditclone/pkg/user/repo.html
  6/99_hw/redditclone/pkg/user/repo_test.go
  6/99_hw/redditclone/pkg/user/user.go
  6/crudapp_db/go.mod
  6/crudapp_db/go.sum
Due: none

hw 7
  6/99_hw/redditclone/go.mod
  6/99_hw/redditclone/go.sum
  7/5_grpc_2/go.mod
  7/5_grpc_2/go.sum
  7/6_grpc_stream/go.mod
  7/99_hw/microservice/service.go
  7/99_hw/microservice/service.pb.go
Due: none

hw 7
  7/99_hw/microservice/service_test.go
Due: none

hw 7
  7/99_hw/microservice/service.go
Due: none

added regexp compilation and channel deletion
  7/99_hw/microservice/service.go
Due: none

hw 8
  7/99_hw/microservice/service.go
  7/99_hw/microservice/service_test.go
  8/99_hw/tree/main.go
  8/99_hw/tree/tree.go
Due: none

hw8
  8/99_hw/tree/main_test.go
  8/99_hw/tree/tree.go
Due: none

Path conditions:
  hw1: any of: 1/99_hw/game/*
  hw2: any of: 2/99_hw/signer/*
